/* Global */

html,
body {
  background-image: radial-gradient(#0099ff7f 1px, transparent 1px),
    radial-gradient(#0099ff7f 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  padding: 0;
  margin: 0;
  font-family: "system-ui, Roboto";
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #0099ff7f;
  border-radius: 0;
}

/* Main content */

.main-container {
  margin: 0;
  display: grid;
  height: 100vh;
  place-items: center;
}

main {
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

section {
  display: grid;
  height: auto;
  place-content: center;
  place-items: center;
}

h1 {
  color: #0099ff;
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 16px;
}

h2 {
  color: #1c5480;
  font-size: 24px;
  margin: 0;
}

h3 {
  color: #0099ff;
  font-size: 24px;
}

p {
  color: white;
}

label {
  color: #1c5480;
}

.image-section {
  row-gap: 20px;
}

.image-and-description {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: black;

  &,
  img {
    border-radius: 10px;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out;
}

.description-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px;
  top: 0;
  left: 0;
  gap: 10px;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  visibility: hidden;
}

.description-container * {
  margin: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.image-and-description:hover img {
  opacity: 0.3;
}

.image-and-description:hover .description-container {
  visibility: visible;
}

.image-and-description:hover .description-container * {
  opacity: 1;
}

.icons-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.pic-icons {
  margin-left: 5px;
  height: 35px;
  width: 35px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.pic-icons:hover {
  transform: scale(1.1);
}

.image-and-description:hover .pic-icons {
  visibility: visible;
  opacity: 1;
}

button {
  position: sticky;
  bottom: 0;
  width: 100%;
  margin: auto auto 0 auto;
  border: none;
  background-color: #0099ff;
}

button:hover,
.modal-form button[type="submit"]:hover {
  background-color: #1c5480;
}

/* Form window */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 90%;
}

.modal-form h2 {
  margin-top: 0;
}

.modal-form label {
  display: block;
  margin-bottom: 10px;
}

.modal-form input,
.modal-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.modal-form button[type="submit"] {
  background-color: #0099ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Media queries */

@media (width > 500px) {
  *::-webkit-scrollbar-thumb {
    background-color: #0099ff7f;
    border-radius: 0 10px 10px 0;
  }

  main {
    border-radius: 10px;
    width: 500px;
    height: 95vh;
  }
}
